<mat-card-header>
  <mat-card-title>{{ project().projectName }}</mat-card-title>
  <mat-card-subtitle>Cliente: {{ project().clientName }}</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <h3>Módulos</h3>
  <app-grid
    (onViewEvent)="viewModuleDetail($event)"
    (onDeleteEvent)="deleteModule($event)"
    [data]="project().modules"
    [displayedColumns]="displayedColumns"
    [sortableColumns]="sortableColumns"
    [columnHeaders]="columnHeaders"
  />
</mat-card-content>

<mat-card-actions>
  <button mat-raised-button (click)="showTotalDespiece()">
    Despiece total
  </button>
  <button mat-raised-button (click)="addNewModule()">Añadir modulo</button>
  <button mat-raised-button color="primary" routerLink="/projects">
    Volver
  </button>
</mat-card-actions>
